
#header{
	width: 1000px;
	height: 150px;
	background-color: #731C24;
	margin: auto;
}
#logo{
	width: 150px;
}

#judul{
	width: 2050px;
	height: 100px;
	display: inline;
	position: absolute;
	padding: 25px;
	color: white;
}
#heading{
	font-size: 2.5em;
	font-family: Arial;
	text-align: auto;

}
#nav{
	color: white;
	width: 990px;
	background: -moz-linear-gradient(#9d2631, #731C24);
	margin: auto;
	padding: 5px;
	margin-top: 5px;
}


 ul{
  list-style-type: none;
	position: relative;
	margin: auto;
  
}

ul li {
	padding: 0px 5px;
	font-family: Arial, "Calibri", Helvetica, sans-serif;
	display:inline;
	cursor : auto;
}
#nav ul li a{
	text-decoration: none;
	color: white;
}

#login{
	text-decoration:none;
	font-size:1.3em;
	color:white;
	margin-left: 250px;	
}

#judul a{
	text-decoration:none;
	font-size:1.3em;
	color:white;
	margin-left: 5px;
	display: inline;
}


#article{
	width: 1000px;
	margin: 5px 0px 5px 168px;
	display: block;
	clear: both;
	margin: auto;
}

.header{
	background-color: #731C24;
	text-align: center;
	color: #fff;
	font-family: arial;
	padding: 20px;
	font-size: 1.5em;
	margin: auto;
	margin: 5px 0px 0px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content{
	height: 500px;
	background-color: #9c2631;
	text-align: center;
	color: #fff;
	font-family: arial;
	font-size: 1em;
	margin: auto;
	margin: 0px 0px 5px 0px;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#box{
	width: 700px;
	border: 5px solid white;
	margin: auto;
	border-radius: 5px;
	margin: auto;
	display: block;
	clear: both;
	padding: 30px;
}

#box tr td {
	text-align: justify;
	margin: 20px;
}

a{
	text-decoration: none;
}
#footer{
	width: 1000px;
	padding:20px 0px;
	background-color: #731C24;
	margin: 5px 0px 5px 168px;
	clear: both;
	font-family: "Calibri",Arial, Helvetica, sans-serif;
		margin: auto;
		text-align: center;
		color:white;
		margin: auto;
}