
#header{
	width: 1000px;
	height: 150px;
	background-color: #731C24;
	margin: auto;
}
#logo{
	width: 150px;
}

#judul{
	width: 2050px;
	height: 100px;
	display: inline;
	position: absolute;
	padding: 25px;
	color: white;
}
#heading{
	font-size: 2.5em;
	font-family: Arial;
	text-align: auto;

}
#nav{
	color: white;
	width: 990px;
	background: -moz-linear-gradient(#9d2631, #731C24);
	margin: auto;
	padding: 5px;
	margin-top: 5px;
}


ul{
  list-style-type: none;
	position: relative;
	margin: auto;
  
}

ul li {
	padding: 0px 5px;
	font-family: Arial, "Calibri", Helvetica, sans-serif;
	display:inline;
	cursor : auto;
}
#nav ul li a{
	text-decoration: none;
	color: white;
}


#login{
	text-decoration:none;
	font-size:1.3em;
	color:white;
	margin-left: 250px;	
}

#judul a{
	text-decoration:none;
	font-size:1.3em;
	color:white;
	margin-left: 5px;
	display: inline;
}

#article{
	width: 1000px;
	font-size: 2.0em;
	background-color: #9d2631;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	padding-top:50px;
	color: #ffffff;
}

.content{
	margin: 0px 0px 0px 70px;
}

.image{
	margin: auto;
	margin: 5px;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}
#videos{
	margin: 0px 0px 0px 150px;
}

.vid{
	width:700px;
	height:300px;
}
#footer{
	width: 1000px;
	padding:20px 0px;
	background-color: #731C24;
	margin: 5px 0px 5px 168px;
	clear: both;
	font-family: "Calibri",Arial, Helvetica, sans-serif;
		margin: auto;
		text-align: center;
		color:white;
}