#header{
	width: 1000px;
	height: 150px;
	background-color: #731C24;
	margin: auto;

}
#logo{
	width: 150px;
}

#judul{
	width: 2050px;
	height: 100px;
	display: inline;
	position: absolute;
	padding: 25px;text-decoration: none;
	color: white;
	color: white;
}

#judul a{
	text-decoration: none;
	color: white;
	font-size: 1em;
}
#heading{
	font-size: 2.5em;
	font-family: Arial;
	text-align: auto;

}
.user{
	width: 200px;
	font-family: arial;
	display: inline;
	margin-left: 250px;
	color: white;
}
.user a{
	text-decoration: none;
	color: white;
}
#nav{
	color: white;
	width: 990px;
	background: -moz-linear-gradient(#9d2631, #731C24);
	margin: auto;
	padding: 5px;
	margin-top: 5px;
}

#picture{
	width: 1000px;
	height: 500px;
	margin: 5px 0px 5px 168px;
	display: block;
	clear: both;
	margin: auto;
}


 ul{
  list-style-type: none;
	position: relative;
	margin: auto;
  
}

ul li {
	padding: 0px 5px;
	font-family: Arial, "Calibri", Helvetica, sans-serif;
	display:inline;
	cursor : auto;
}
#nav ul li a{
	text-decoration: none;
	color: white;
}

#judul a{
	text-decoration:none;
	font-size:1em;
	color:white;
	display: inline;
}

#article{
	width: 1000px; 
	margin: 5px 0px 5px 168px;
	display: block;
	clear: both;
	margin: auto;
	background-color: #731C24;
}

a{
	text-decoration: none;
	color: white;
}

#side-article{
	width: 300px;
	height: 1000px;
	margin: 0px 0px 0px 0px;
	display: inline-block;
	float: left;
}

.side-wrap{
	margin: auto;
	border-radius: 5px;
	margin: 5px;
}

.side{
	margin-top: 20px;
	padding: 10px;
	background-color: #731C24;
	margin: auto;
	text-align: left;
	color: #fff;
	padding-left: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.side-content {
	padding: 10px 10px 10px 0px;
	background-color: #9d2631; 
	margin: auto;
	text-align: left;
	color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#main-article{
	width: 685px;
	margin: 0px 0px 0px 5px;
	display: inline-block;
	background-color: #9c2631;
	border-radius: 5px;
}

.content{

		margin: 10px;
		background-color: #c6303e;
		display: inline-block;
		padding: 5px;
		border-radius: 10px;
}
 .img-article{
 	 width: 200px;
 	 height: 150px;
 	 border-radius: 5px;
 }

.text-article{
	width: 420px; 
 	height: 150px;
	 color: #ffffff;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    margin: 0px 10px;
    padding: 0px;
    display: inline;
    float: right;
}

.content h2{
	color: white;
}

.readmore{
	height: 26;
	background: -moz-linear-gradient(#9d2631, #731C24);
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 13px;
    float: right;
    padding: 5px;
    margin-right: 10px;
}

.readmore a{
	color: white;
	text-decoration: none;
}

#footer{
	width: 1000px;
	padding:20px 0px;
	background-color: #731C24;
	margin: 5px 0px 5px 168px;
	clear: both;
	font-family: "Calibri",Arial, Helvetica, sans-serif;
		margin: auto;
		text-align: center;
		color:white;
}

