

#header{
	width: 1000px;
	height: 150px;
	background-color: #731C24;
	margin: auto;

}
#logo{
	width: 150px;
}

#judul{
	width: 2050px;
	height: 100px;
	display: inline;
	position: absolute;
	padding: 25px;
	color: white;
}
#heading{
	font-size: 2.5em;
	font-family: Arial;
	text-align: auto;

}

#heading a{
	color: white;
	text-decoration: none;
}
#nav{
	color: white;
	width: 990px;
	background: -moz-linear-gradient(#9d2631, #731C24);
	margin: auto;
	padding: 5px;
	margin-top: 5px;
}


 ul{
  list-style-type: none;
	position: relative;
	margin: auto;
  
}

ul li {
	padding: 0px 5px;
	font-family: Arial, "Calibri", Helvetica, sans-serif;
	display:inline;
	cursor : auto;
}
#nav ul li a{
	text-decoration: none;
	color: white;
}

#article{
	width: 1000px;
	height: 280px; 
	margin: 10px 0px 5px 168px;
	display: block;
	clear: both;
	margin: auto;
	background-color: #9d2631;
	padding: 100px 0px;
}

#login-box {
	margin: auto;
    border: 2px solid;
    height: 180px;
    width: 225px;
    background-color: white;
    opacity: 1;
    padding: 40px; 
}

#login-box-contain{
	clear: both;
	float: left;
}

#login{
	text-decoration:none;
	font-size:1.3em;
	color:white;
	margin-left: 350px;

}
a{
	text-decoration: none;
}


#footer{
	width: 1000px;
	padding:20px 0px;
	background-color: #731C24;
	margin: 5px 0px 5px 168px;
	clear: both;
	font-family: "Calibri",Arial, Helvetica, sans-serif;
		margin: auto;
		text-align: center;
		color:white;
}	